.container {
    display: flex;
    flex-direction: column;
    /* viewport-height */
    min-height: 100vh;
}

main {
    flex-grow: 1;
    width: 85%;
    margin: 10px auto;
    padding-top: 64px;
}