.container {
    text-align: center;
}

/* .item-image {
    margin-left: 30%;
    margin-right: 30%;
    height: 20%;
    width: 40%;
    transition: 0.2s;
}
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
} */